@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* -- Page Content -- */
#page {
    margin-top: 70px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    display: inline-block;
    font-size: 80%;
}

.desc {
    width: 55%;
}

.tut {
    width: 30%;
    float: right;
}


/* API CONTENT */

.api-content {
    height: 800px;
    padding-top:20px;
    position:relative;
}

/*EARTHQUAKE PAGE MAP*/
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.radio-options {
    width:12%;
    margin-left:-1%;
    padding: 6px;
    position:absolute;
}

.button-options {
    float:right;
    margin-top:54px;
    margin-right:-1%;
}

.button-options button {
    margin-left:30px;
}