@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* -- Page Content -- */
#page {
    margin-top: 70px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    display: inline-block;
    font-size: 80%;
}

.desc {
    width: 55%;
}

.tut {
    width: 30%;
    float: right;
}


/* API CONTENT */

.api-content {
    height: 800px;
    padding-top:20px;
    position:relative;
    background-color:pink;
}

/*EARTHQUAKE PAGE MAP*/
 #map {
    height: 375px;
    width: 100%;
}

#options {
    padding: 5px 0;
    height: auto;
}

.ui-datepicker-calendar {
    display: none;
 }
 .ui-datepicker-month {
    display: none;
 }
 .ui-datepicker-prev{
    display: none;
 }
 .ui-datepicker-next{
    display: none;
 }

/*WEATHER PAGE*/

#options {
    background-color:green;
}

#latlongoptions {
    background-color:blue;
    height: 200px;
    width: 30%;
    display:inline-block;
}

#locoptions {
    background-color:red;
    height: 200px;
    width: 30%;
    left:50%;
    position:absolute;
    display:inline-block;
}
