/* -- Banner Image -- */
.hero-image {
    height: 316px;
    background: url(../img/banner.jpg) no-repeat center bottom;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }